.header-restaurant{
         background-color: $gray-light;
         border-radius: 15px 15px 0px 0px;
         overflow: hidden;


         @include mobile-only{
                  border-radius: 0px;
                  height: 286px;
         }

         &__img{
                  width: 100%;
                  object-fit: cover;
                  height: 376px;

                  @include mobile-only{
                           height: 261px; 
                  }
         }
    
         &__title{
                  align-items: center;
                  justify-content: center;
                  background-color: $gray-light;
                  position: relative;
                  top: -49px;
                  padding-top: 29px;
                  


                  @include mobile-only{
                           justify-content: space-evenly;
                           padding-top: 17px;
                  }

                  @include tablette-only{
                           border-radius: 41px 41px 0px 0px;
                  }

                  & h1{
                           font-size: 33px;
                           padding-right: 66px;
                          

                           @include mobile-only{
                                    padding: 0px;
                                    font-size: 28px;
                                    margin-left: -26px;
                           }
                  }       

                  & img{
                           width: 27px;
                  }
         }
 }

//  Pour le second coeur 

.coeur_2{
         font-size: 31px;
         color: transparent;
         background: linear-gradient(to left, $color-primary, $color-secondary);
         background-clip: text;
         position: absolute;
         right: 55px;
         -webkit-background-clip : text;

         
         // opacity: 0;
         transition: all 300ms ease;

         @include tablette-only{
                  transition: all 0ms;
         }       

         // &:hover{
         //          transform: scale(1.01);
         //          opacity: 1;
         // }    

         // &:active{
         //          transform: scale(1.01);
         //          opacity: 1;
         // }

}

