.header-restaurant{
         background-color: $gray-light;
         border-radius: 15px 15px 0px 0px;
         overflow: hidden;

         @include mobile-only{
                  border-radius: 0px;
                  height: 286px;
         }

         &__img{
                  width: 100%;
                  object-fit: cover;
                  height: 376px;

                  @include mobile-only{
                           height: 261px; 
                  }
         }
    
         // &__img{
         //          height: 252px;

         //          & img{
         //          width: 100%;
         //          height: 252px;
         //           object-fit: cover;
         //          }
         // }

         &__title{
                  align-items: center;
                  justify-content: center;
                  background-color: $gray-light;
                  position: relative;
                  top: -49px;
                  padding-top: 29px;


                  @include mobile-only{
                           justify-content: space-evenly;
                           padding-top: 17px;
                  }

                  @include tablette-only{
                           border-radius: 41px 41px 0px 0px;
                  }

                  & h1{
                           font-size: 33px;
                           padding-right: 66px;

                           @include mobile-only{
                                    padding: 0px;
                                    font-size: 27px;
                                    letter-spacing: 0.5px;
                           }
                  }       
         }
 }
