.container-loader{
         background-color: $color-loading;
         height: 100vh;
         position: fixed;
         inset: 0;
         z-index: 2;     
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         animation: loader 1s 3s forwards; 
}

.container-letter{
         font-family: Shrikhand;
         font-size: 95px;     
         
         @include mobile-only{
                  font-size: 45px;
         }
}

.container-wine{
         padding-top: 133px;
}

.icon-wine{
         width: 132px;

         @include mobile-only{
                  width: 91px;
         }
}

.icon-wine path{
         fill: transparent;
         stroke-width: 130;
         stroke: $color-tertiary;         
         // définit le motif des traits et des espaces utilisés pour dessiner le contour de la forme.
         stroke-dasharray: 22000;  
         // décale la position de départ des pointillés sur les lignes SVG.
         stroke-dashoffset: 0;
         animation: animate-wine 3s linear;
}


// Animation pour disparition de la page loading

@keyframes loader{
         0% {
                  visibility: visible;
                  opacity: 1;
         }
         
         100%{
                  visibility: hidden; 
                  opacity: 0;    
         }
}

// Animation disco OhMyFood

@keyframes color-animation{
         0%{
                  color: $color-primary;
         }

         40%{
                  color: $color-secondary;
         }

         80%{
                  color: $color-tertiary;
         }

         100%{
                  color: $color-primary;
         }
}


@for $i  from 1 through 8 {
         .letter_#{$i} {
                  animation: color-animation 3s  both;
                  animation-delay: #{calc($i / 4)}s;   
         }
}


// Animation svg

@keyframes animate-wine{
         0%{
                  stroke-dashoffset: 22000;  
                  stroke:$color-tertiary; 
         }

         40%{
                  stroke: $color-secondary;
         }

         80%{
                 
                  stroke: $color-primary; 
         }

         100%{
                  stroke-dashoffset: 0;  
         }
}



































