.container-menu{
         background-color: $gray-light;
         justify-content: space-around;
         flex-wrap: wrap;
         padding: 28px 0px 37px 0px;

         @include mobile-only{
                  padding: 0px;
         }
}


.menu{
         &__title{
                  font-size: 19px;
                  padding-left: 6px;
                  padding-bottom: 23px;

                  @include tablette-only{
                           margin-top: 38px;
                           padding-bottom: 16px;
                  }
         }

         & span{
                  border-bottom: 4px solid $color-tertiary;
                  padding-bottom: 4px;
         }
}

.container__card{
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
        
}



.menu__card{
         cursor: pointer;
         justify-content: space-between;
         background-color: white;
         border-radius: 15px;
         width: 387px;
         @include border-shadow;
         margin: 20px 0px;
         overflow: hidden;


         @include mobile-only{
                  margin: 8px 0px;
         }

         &:hover .animation_check{
                 margin-right: 0px;
                 transition: 700ms;
         }

         &:active .animation_check{
                  margin-right: 0px;
                  transition: 600ms;
         }
}



.menu__card__title{
         width: 272px;

         & h3 {
                  padding-left: 11px;
                  padding-top: 13px;
         }

         & p{
                  font-weight: 300;
                  padding-left: 11px;
                  padding-top: 4px;
                  padding-bottom: 13px;
         }

}


.menu__card__price{
         font-weight: bold;
         padding-top: 38px;
         padding-right: 14px;        
}               
         

         
// Pour l'animation valider un menu

.animation_check{
         background-color: $color-tertiary;
         width:72px;
         border-radius: 0px 14px 14px 0px;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-right: -74px;
                 
         & i{
         
                  color: $color-tertiary;
                  font-size: 21px;
                  background-color: white;
                  width: 30px;
                  border-radius: 15px;
                  height: 30px;
                  text-align: center;
                  padding-top: 6px;
             
         }

}








// Pour l'apparation des menus en temps differe

// @keyframes slideup {
//          from {
//          transform: translateY(8px);
//          opacity: 0
//          }


//          to {
//          transform: translateY(0px);
//          opacity: 1;
//          }
// }


// @for $i  from 1 through 4 {
//          .animation_#{$i} {
//                   animation: slideup 500ms linear both;
//                   animation-delay: #{$i / 4}s;   
//          }
// }




