.container-menu{
         background-color: $gray-light;
         justify-content: space-around;
         flex-wrap: wrap;
         padding: 28px 0px 37px 0px;
         // padding-top: 65px;

         @include mobile-only{
                  padding: 0px;
         }
}

.menu{
         &__title{
                  font-size: 19px;
                  padding-left: 6px;
                  padding-bottom: 23px;

                  @include tablette-only{
                           margin-top: 38px;
                           padding-bottom: 16px;
                  }
         }

         & span{
                  border-bottom: 4px solid $color-tertiary;
                  padding-bottom: 4px;
         }
}

.container__card{
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
        
}

.menu__card{
         background-color: white;
         border-radius: 15px;
         width: 387px;
         @include border-shadow;
         transition: transform 200ms;
         margin: 20px 0px;


         @include mobile-only{
                  margin: 8px 0px;
         }

         & h3 {
                  padding-left: 11px;
                  padding-top: 11px;
         }

         &__price{
                  justify-content: space-between;
                  align-items: center;
                  padding-left: 11px;
                  padding-right: 11px;
                  padding-bottom: 10px;
                  padding-top: 3px;

                  & p{
                           font-weight: 300;
                  }

                  & strong{
                           font-weight: bold;
                           padding-right: 10px;
                  }
         }

         &:hover{
                  transform: scale(1.02);
                  opacity: 0.9;
         }
}





