* {
  box-sizing: border-box;
  margin: 0;
}

body {
  box-sizing: border-box;
  max-width: 1624px;
  width: 100%;
  margin: auto;
}

h2 {
  padding-top: 35px;
}

a {
  all: unset;
  cursor: pointer;
}

.flex {
  display: flex;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

.btn {
  box-shadow: 2px 1px 18px 0px #969494;
  border-radius: 36px;
  width: 236px;
  height: 51px;
  background: linear-gradient(-7deg, #9356DC, #FF79DA);
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: transform 200ms;
  margin-bottom: 55px;
  margin-top: 36px;
}
.btn:hover {
  transform: scale(1.02);
  opacity: 0.9;
  box-shadow: 2px 1px 14px 0px #545353;
}
.btn:active {
  transform: scale(1.02);
  opacity: 0.9;
  box-shadow: 2px 1px 14px 0px #545353;
}

.btn__commader {
  background-color: #f6f6f6;
  text-align: center;
  border-radius: 0px 0px 15px 15px;
  padding-bottom: 50px;
  padding-top: 50px;
}
@media screen and (max-width: 992px) {
  .btn__commader {
    padding-bottom: 34px;
    padding-top: 26px;
  }
}

.new {
  width: 90px;
  background-color: #99E2D0;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 31px;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: 16px;
  animation: flash 3s infinite linear;
}
.new p {
  color: #0c5522;
  font-weight: 500;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.header-restaurant {
  background-color: #f6f6f6;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .header-restaurant {
    border-radius: 0px;
    height: 286px;
  }
}
.header-restaurant__img {
  width: 100%;
  object-fit: cover;
  height: 376px;
}
@media screen and (max-width: 768px) {
  .header-restaurant__img {
    height: 261px;
  }
}
.header-restaurant__title {
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  position: relative;
  top: -49px;
  padding-top: 29px;
}
@media screen and (max-width: 768px) {
  .header-restaurant__title {
    justify-content: space-evenly;
    padding-top: 17px;
  }
}
@media screen and (max-width: 992px) {
  .header-restaurant__title {
    border-radius: 41px 41px 0px 0px;
  }
}
.header-restaurant__title h1 {
  font-size: 33px;
  padding-right: 66px;
}
@media screen and (max-width: 768px) {
  .header-restaurant__title h1 {
    padding: 0px;
    font-size: 28px;
    margin-left: -26px;
  }
}
.header-restaurant__title img {
  width: 27px;
}

.coeur_check {
  position: relative;
}

.coeur_2 {
  color: transparent;
  background: linear-gradient(to left, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  transition: all 300ms ease;
  font-size: 33px;
  right: -3px;
  top: -3px;
}
.coeur_2:hover {
  transform: scale(1.01);
  opacity: 1;
}
.coeur_2:active {
  opacity: 1;
}

/*Header*/
header {
  padding: 20px 0px;
}
header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 218px;
}
header i {
  font-size: 26px;
  padding-left: 22px;
}
@media screen and (max-width: 768px) {
  header i {
    margin-right: -41px;
  }
}
header i:hover {
  color: #99E2D0;
}
header i:active {
  color: #99E2D0;
}

.footer {
  background-color: rgb(74, 69, 69);
  color: white;
  font-size: 17px;
  margin-top: 120px;
}
@media screen and (max-width: 1624px) {
  .footer {
    margin-top: 0px;
  }
}
.footer h1 {
  padding: 22px;
  font-size: 24px;
  margin: 0px;
}
.footer__list {
  display: flex;
  justify-content: space-around;
  padding-bottom: 54px;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .footer__list {
    flex-direction: column;
    padding-left: 22px;
  }
}
.footer ul {
  list-style-type: none;
}
.footer li {
  padding-bottom: 8px;
}
.footer li:hover {
  color: #99E2D0;
}
.footer li:active {
  color: #99E2D0;
}
.footer i {
  margin-right: 11px;
}

.container-menu {
  background-color: #f6f6f6;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 28px 0px 37px 0px;
}
@media screen and (max-width: 768px) {
  .container-menu {
    padding: 0px;
  }
}

.menu__title {
  font-size: 19px;
  padding-left: 6px;
  padding-bottom: 23px;
}
@media screen and (max-width: 992px) {
  .menu__title {
    margin-top: 38px;
    padding-bottom: 16px;
  }
}
.menu span {
  border-bottom: 4px solid #99E2D0;
  padding-bottom: 4px;
}

.container__card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu__card {
  cursor: pointer;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  width: 387px;
  box-shadow: 2px 1px 18px -7px #969494;
  margin: 20px 0px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .menu__card {
    margin: 8px 0px;
  }
}
.menu__card:hover .animation_check {
  margin-right: 0px;
}
.menu__card:active .animation_check {
  margin-right: 0px;
}
.menu__card:hover .animation_check i {
  animation: check-rotate 0.5s linear;
}

.menu__card__title {
  width: 312px;
  overflow: hidden;
}
.menu__card__title h3 {
  padding-left: 11px;
  padding-top: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card__title p {
  font-weight: 300;
  padding-left: 11px;
  padding-top: 4px;
  padding-bottom: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__card__price {
  font-weight: bold;
  padding-top: 38px;
  padding-right: 14px;
  margin-left: 3px;
}

.animation_check {
  background-color: #99E2D0;
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -74px;
  transition: margin-right 0.5s linear;
}
.animation_check i {
  color: #99E2D0;
  font-size: 21px;
  background-color: white;
  width: 30px;
  border-radius: 15px;
  height: 30px;
  text-align: center;
  padding-top: 6px;
}

@keyframes check-rotate {
  from {
    transform: rotate(-280deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes slideup {
  from {
    transform: translateY(8px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.animation_1 {
  animation: slideup 500ms linear both;
  animation-delay: 0.25s;
}

.animation_2 {
  animation: slideup 500ms linear both;
  animation-delay: 0.5s;
}

.animation_3 {
  animation: slideup 500ms linear both;
  animation-delay: 0.75s;
}

.animation_4 {
  animation: slideup 500ms linear both;
  animation-delay: 1s;
}

.container-loader {
  background-color: #292626;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: loader 1s 3s forwards;
}

.container-letter {
  font-family: Shrikhand;
  font-size: 95px;
}
@media screen and (max-width: 768px) {
  .container-letter {
    font-size: 45px;
  }
}

.container-wine {
  padding-top: 133px;
}

.icon-wine {
  width: 132px;
}
@media screen and (max-width: 768px) {
  .icon-wine {
    width: 91px;
  }
}

.icon-wine path {
  fill: transparent;
  stroke-width: 130;
  stroke: #99E2D0;
  stroke-dasharray: 22000;
  stroke-dashoffset: 0;
  animation: animate-wine 3s linear;
}

@keyframes loader {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes color-animation {
  0% {
    color: #9356DC;
  }
  40% {
    color: #FF79DA;
  }
  80% {
    color: #99E2D0;
  }
  100% {
    color: #9356DC;
  }
}
.letter_1 {
  animation: color-animation 3s both;
  animation-delay: 0.25s;
}

.letter_2 {
  animation: color-animation 3s both;
  animation-delay: 0.5s;
}

.letter_3 {
  animation: color-animation 3s both;
  animation-delay: 0.75s;
}

.letter_4 {
  animation: color-animation 3s both;
  animation-delay: 1s;
}

.letter_5 {
  animation: color-animation 3s both;
  animation-delay: 1.25s;
}

.letter_6 {
  animation: color-animation 3s both;
  animation-delay: 1.5s;
}

.letter_7 {
  animation: color-animation 3s both;
  animation-delay: 1.75s;
}

.letter_8 {
  animation: color-animation 3s both;
  animation-delay: 2s;
}

@keyframes animate-wine {
  0% {
    stroke-dashoffset: 22000;
    stroke: #99E2D0;
  }
  40% {
    stroke: #FF79DA;
  }
  80% {
    stroke: #9356DC;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.select-city {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: inset 0px 3px 27px 5px #dcdcdc;
  padding: 16px 0px;
  border-radius: 20px 20px 0px 0px;
}
@media screen and (max-width: 992px) {
  .select-city {
    border-radius: 0px;
  }
}
.select-city i {
  font-size: 18px;
  color: rgb(72, 62, 62);
  margin-left: 100px;
  padding-bottom: 1px;
}
@media screen and (max-width: 768px) {
  .select-city i {
    margin-left: 78px;
  }
}
.select-city p {
  color: rgb(72, 62, 62);
  font-weight: 400;
  font-size: 19px;
}
@media screen and (max-width: 768px) {
  .select-city p {
    font-size: 17px;
  }
}
.select-city input {
  all: unset;
  padding-left: 13px;
}

.container-explore {
  background-color: #f6f6f6;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
}
@media screen and (max-width: 992px) {
  .container-explore {
    border-radius: 0px;
  }
}
.container-explore__text {
  color: #615f5f;
  font-size: 18px;
  margin-top: 15px;
}

.container-functioning h2 {
  padding-left: 22px;
  margin-top: 15px;
}

.container__steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media all and (max-width: 1190px) {
  .container__steps {
    flex-direction: column;
    align-items: center;
  }
}

.step {
  display: flex;
  box-shadow: 2px 1px 18px -7px #969494;
  align-items: center;
  background-color: #f6f6f6;
  width: 353px;
  height: 76px;
  border-radius: 25px;
  margin-top: 29px;
  cursor: pointer;
  transition: transform 50ms;
  z-index: 1;
  position: relative;
}
.step__number {
  background-color: #9356DC;
  color: white;
  text-align: center;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  margin-left: -12px;
  padding-top: 5px;
}
.step__logo {
  color: gray;
  margin-left: 24px;
  font-size: 20px;
}
.step__text {
  font-size: 17px;
  font-weight: bold;
  padding-left: 26px;
}
.step::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  background-color: #e4d5f6;
  opacity: 0;
  z-index: -1;
  width: 0%;
  height: 100%;
  transition: all 600ms ease;
}
@media screen and (max-width: 992px) {
  .step::after {
    width: 100%;
    height: 100%;
    transition: all 10ms;
  }
}
.step:hover {
  transform: scale(1.01);
}
.step:hover .step__logo {
  color: #9356DC;
}
.step:hover::after {
  opacity: 1;
  width: 100%;
}
.step:active {
  transform: scale(1.01);
}
.step:active .step__logo {
  color: transparent;
  background: linear-gradient(to left, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
}
.step:active::after {
  opacity: 1;
}

.container-restaurants {
  background-color: #f6f6f6;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .container-restaurants {
    border-radius: 0px;
  }
}
.container-restaurants h2 {
  padding: 59px 0px 24px 22px;
  margin-top: 80px;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 54px;
}
@media screen and (max-width: 768px) {
  .container-cards {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  .container-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.container-cards .card {
  border-radius: 20px;
  box-shadow: 2px 1px 18px -7px #969494;
  overflow: hidden;
  width: 39%;
  height: 256px;
  cursor: pointer;
  margin-bottom: 26px;
  transition: transform 200ms;
  position: relative;
}
@media screen and (max-width: 992px) {
  .container-cards .card {
    width: 355px;
  }
}
.container-cards .card:hover {
  transform: scale(1.01);
}
.container-cards .card:active {
  transform: scale(1.01);
}
.container-cards .card__img {
  width: 100%;
  height: 186px;
  object-fit: cover;
}
.container-cards .card__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
}
.container-cards .card__body h3 {
  padding-left: 15px;
  padding-bottom: 3px;
  font-weight: 500;
}
.container-cards .card__body p {
  padding-left: 15px;
  padding-bottom: 11px;
  font-weight: 300;
}
.container-cards .card__body__logo {
  width: 50px;
  position: relative;
  opacity: 1;
}
.container-cards .card__body__logo img {
  width: 27px;
  margin-right: 24px;
  opacity: 1;
}
.container-cards .card__body__logo img:hover {
  opacity: 0;
}

.coeur_1 {
  color: transparent;
  background: linear-gradient(to left, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  transition: all 300ms ease;
  font-size: 30px;
  right: 22px;
  top: -2px;
}
.coeur_1:hover {
  transform: scale(1.01);
  opacity: 1;
}
.coeur_1:active {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
