*{

         box-sizing: border-box;
         margin: 0;
}

body {
         box-sizing: border-box;
	max-width: 1624px;
	width: 100%;
	margin: auto;
}

h2{
         padding-top: 35px;
}

a {
         all: unset;
         cursor: pointer;
}

.flex{
         display: flex;
}