.container-explore{
         background-color: $gray-light;
         text-align: center;
         border-radius: 0px 0px 20px 20px;

         @include tablette-only{
                  border-radius: 0px;
         }

        &__text{
                  color : #615f5f;
                  font-size: 18px;
                  margin-top: 15px;
         }

}