.container-restaurants{
         background-color: $gray-light;
         border-radius: 20px;

         @include mobile-only{
                  border-radius: 0px;
         }

         & h2{
                  padding: 59px 0px 24px 22px;
                  margin-top: 80px;
         }
}

.container-cards{

         @include flex;
         flex-wrap: wrap;
         justify-content: space-around;
         padding-bottom: 54px;

         @include mobile-only{
                  flex-direction: column;
                  align-items: center;
         }

         @include tablette-only{
                  flex-direction: row;
                  flex-wrap: wrap;

         }

    
         .card {
                  border-radius: 20px;
                  @include border-shadow;
                  overflow: hidden;
                  width: 39%;
                  height: 256px;
                  cursor: pointer;
                  margin-bottom: 26px;
                  transition: transform 200ms;
                  position: relative;

                  @include mobile-only{
                           width: 355px;
                  }
         
                  @include tablette-only{
                           width: 355px;
                  }

                  &:hover{
                           transform: scale(1.02);
                           opacity: 0.9;
                  }

                  &__img{
                           width: 100%;
                           height: 186px;
                           object-fit: cover;
                  }

                  &__body{
                           @include flex;
                           justify-content: space-between;
                           align-items: center;

                           & h3{
                                    padding-left: 15px;
                                    padding-bottom: 3px;
                                    font-weight: 500;
                           }

                           & p{
                                    padding-left: 15px;
                                    padding-bottom: 11px;
                                    font-weight: 300;
                           }

                           &__logo{
                                    font-size: 28px;
                                    padding: 19px;
                           }
                  }
         }
}