.select-city {
         @include flex;
         justify-content: center;
         align-items: center;
         background-color: $gray-light;
         box-shadow: inset 0px 3px 27px 5px #dcdcdc;
         padding: 16px 0px;
         border-radius: 20px 20px 0px 0px;

         @include tablette-only{
                  border-radius: 0px;
         }

         & i {
                  font-size: 18px;
                  color: rgb(72 62 62);
                  margin-left: 83px;
                  padding-bottom: 1px;
         }        

         & p {
                  color: #9b9999;
                  font-weight: bold;
                  font-size: 19px;

                  @include mobile-only{
                           font-size: 17px;
                  }
         }

         & input {
                  all: unset;
                  padding-left: 13px;
         }         
}