// Couleurs principales du site

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;



// Couleurs texte et ombre 

$gray-light: #f6f6f6;
$gray-logo: rgb(74 69 69);

// Breakpoints

$breackpoints: (
         mobile: 768px, 
         tablette: 992px, 
         ecran-max: 1624px,
)